<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <!-- <sidebar-search></sidebar-search>  -->
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.topic.list"><i class="fa fa-tags fa-fw"></i> Topics</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.chart.list"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.post.list"><i class="fa fa-twitter fa-fw"></i> Posts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.job.list"><i class="fa fa-briefcase fa-fw"></i> Jobs</a>
            </li>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-cogs fa-fw"></i> Settings<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.settings.generalProperty.list"><i class="fa fa-list-ul fa-fw"></i> General Properties</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.settings.twitterApiKey.list"><i class="fa fa-key fa-fw"></i> Twitter Keys</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.settings.corpus"><i class="fa fa-book fa-fw"></i> Corpora</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



