<div>
    <div class="modal-header">
        <h3 class="modal-title">{{modalProperties.title}}</h3>
    </div>

    <div class="modal-body">
        <div ng-if="!modalProperties.type">
            <p>{{modalProperties.text}}</p>
        </div>
        <div ng-if="modalProperties.type == 'plot'">
            <p>Please enter the plotting recipe and click {{modalProperties.button}} to continue.
            <label class="help-icon"><a href="https://github.com/miguelfc/marble/wiki/Plotters" target="_blank"><i class="fa fa-question-circle fa-fw"></i></a></label>
            </p>
            <fieldset>
                <div class="form-group ">
                    <textarea rows="6" cols="75" ng-model="$parent.plotterRecipe"></textarea>
                </div>
            </fieldset>
        </div>
        <div ng-if="modalProperties.type == 'process'">
            <p>Please enter the processing recipe and click {{modalProperties.button}} to continue.
            <label class="help-icon"><a href="https://github.com/miguelfc/marble/wiki/Preprocessors-and-Processors" target="_blank"><i class="fa fa-question-circle fa-fw"></i></a></label>
            </p>
            <fieldset>
                <div class="form-group ">
                    <textarea rows="6" cols="75" ng-model="$parent.processRecipe"></textarea>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i> Cancel
        </button>
        <button class="btn btn-primary" ng-if="!modalProperties.type" ng-click="modalAction(); ok();">
            <i class="fa fa-fw {{modalProperties.modalIcon}}"></i> {{modalProperties.button}}
        </button>
        <button class="btn btn-primary" ng-if="modalProperties.type == 'plot'"
            ng-disabled="$parent.plotterRecipe == null || $parent.plotterRecipe == ''" ng-click="plotAction(); ok();">
            <i class="fa fa-fw {{modalProperties.modalIcon}}"></i> {{modalProperties.button}}
        </button>
        <button class="btn btn-primary" ng-if="modalProperties.type == 'process'"
            ng-disabled="$parent.processRecipe == null || $parent.processRecipe == ''" ng-click="processAction(); ok();">
            <i class="fa fa-fw {{modalProperties.modalIcon}}"></i> {{modalProperties.button}}
        </button>
    </div>
</div>