
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-tags fa-fw"></i> List of Topics
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <p>The existing topics, if any, are shown in the main table. If you would like to create a new
                        one, use the bottom below.</p>
                    <div class="form-group">
                        <div class="right-buttons">
                            <a data-ng-click="create()" class="btn btn-primary"><i class="fa fa-file-o"></i> Create a new
                                topic</a>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div data-ui-grid="gridOptions" ui-grid-pagination="ui-grid-pagination" ui-grid-resize-columns="ui-grid-resize-columns" class="myGrid"></div>
            </div>
        </div>
    </div>
</div>