
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-bar-chart-o fa-fw"></i> List of Plots per Topic {{topicName}}
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <p>The existing charts associated with the topic {{topicName}}, if any, are shown in the main table.</p>
                    <div class="form-group">
                        <div class="col-lg-offset-8 col-lg-4">
                            <a data-ng-click="viewTopic()" class="btn btn-default pull-right"><i class="fa fa-tags"></i> Go back to Topic</a>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- .panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div data-ui-grid="gridOptions" ui-grid-pagination="ui-grid-pagination" ui-grid-resize-columns="ui-grid-resize-columns" class="myGrid"></div>
            </div>
        </div>
    </div>
</div>