<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-bar-chart-o fa-fw"></i> Details for Plot
			{{chart.name}}
		</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div>
	<form id="chart">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Description</div>
					<div class="panel-body">
						<fieldset>
							<p>{{chart.description? chart.description : 'This chart does
							not have a description defined.'}}</p>
							<div class="form-group">
								<div class="col-lg-offset-8 col-lg-4">
									<a data-ng-click="viewTopic()"
									class="btn btn-default pull-right"><i class="fa fa-tags"></i>
								Go back to Topic</a> <a data-ng-click="viewJob()"
								class="btn btn-default pull-right"><i
								class="fa fa-briefcase"></i> Go back to Job</a>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- .panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Plot</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div ng-if="googleChartObject" google-chart="google-chart"
					chart="googleChartObject" style="height: 600px; width: 100%;"></div>
					<p markdown-to-html="reportObject.data.body" ng-if="reportObject"></p>
					<div class="chart-figures-container" ng-if="figureListObject || reportObject">
						<img class="chart-figure"
						ng-repeat="(key, figureId) in figureListObject.figures"
						ng-src="/api/mongo_file/{{figureId}}" />
						<img class="chart-figure"
						ng-repeat="(key, figureId) in reportObject.figures"
						ng-src="/api/mongo_file/{{figureId}}" />
					</div>
					<div class="chart-figures-container" ng-if="reportObject">
						<pre>{{reportObject.data.body}}</pre>
					</div>
				</div>
				<!-- .panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>


</form>
</div>
