body {
    font-family: "Open Sans";
    background-color: #5c6bc0;
    padding-bottom: 0px;
}

.ui-grid-cell, .ui-grid-header-cell, .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border: none;
}

.grid-action-cell, .ui-grid-cell-contents {
    margin: 3px;
}

.ui-grid-top-panel-background, .ui-grid-top-panel {
	background: #fafafa;
}

.ui-grid {
	border: 1px solid #D4D4D4;
	border-radius: 2px;
}

.ui-grid-cell-contents {
	padding: 8px;
}

/* Custom Navbar */
.navbar-default {
    background-color: #303F9F;
    border-color: #303F9F;
}

.navbar-default.sidebar{
    background-color: #5c6bc0;
}

.nav>li>a {
    color: #ffffff;
}

.nav>li.active>a {
    background-color: #7986cb !important;
}

.nav>li>a:focus {
    background-color: #5c6bc0;
}

.nav>li>a:hover {
    background-color: #3f51b5;
}

.sidebar ul li {
    border: none;
}

/* Custom Header */
.main-logo {
    font-size: 24px;
    color: #ffffff ! important;
}

.main-logo .logo {
    background: #ffffff;
    color: #1a237e;
    display: inline-block;
    font-weight: bold;
    line-height: 1.2em;
    margin-right: 1px;
    text-align: center;
    width: 1.1em;
    border-radius: .1em;
}

.main-logo .narrow {
    width: 0.9em;
}

/* Override colors */
a {
    color: #0b796d;
}

a:hover, a:focus {
    color: #05332e;
}

.btn-primary {
    border-color: #FF5722;
    background-color: #FF5722;
}

.btn-primary:hover {
    border-color: #e64a19;
    background-color: #e64a19;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary.active, .open>.dropdown-toggle.btn-primary
    {
    color: #fff;
    background-color: #e64a19;
    border-color: #bf360c;
}

.nav .open>a.dropdown-toggle, .nav .open>a.dropdown-toggle:focus, .nav .open>a.dropdown-toggle:hover {
	background-color: #3f51b5;
}

.btn-primary:disabled, .btn-primary[disabled], .btn-primary[disabled]:hover {
    border-color: #FFAB91;
    background-color:  #FFAB91;
}

/* Material Design */
.btn {
    border-radius:  2px;
}
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-inset {
  box-shadow: inset 5px -5px 9px -4px rgba(0, 0, 0, 0.18);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* Top right buttons */
.right-buttons {
    padding: 15px;
    padding-bottom: 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/* Dashboard panels */

.panel {
    border-radius: 2px;
}

.panel a .panel-footer:hover {
    background-color: #E0E0E0;
}

.panel-yellow, .panel-yellow .panel-heading  {
    background-color: #FF8F00;
    border-color: #FF8F00;
    color: #FFFFFF;
}
.panel-yellow a {
    color: #FF8F00;
}
.panel-yellow a:hover {
    color: #FF6F00;
}

.panel-blue, .panel-blue .panel-heading  {
    background-color: #283593;
    border-color: #283593;
    color: #FFFFFF;
}
.panel-blue a {
    color: #283593;
}
.panel-blue a:hover {
    color: #1A237E;
}

.panel-green, .panel-green .panel-heading  {
    background-color: #2E7D32;
    border-color: #2E7D32;
    color: #FFFFFF;
}
.panel-green a {
    color: #2E7D32;
}
.panel-green a:hover {
    color: #1B5E20;
}

.panel-primary, .panel-primary .panel-heading  {
    background-color: #E64A19;
    border-color: #E64A19;
    color: #FFFFFF;
}
.panel-primary a {
    color: #E64A19;
}
.panel-primary a:hover {
    color: #D84315;
}

.panel-primary-outline, .panel-primary-outline .panel-heading  {
    background-color: #FFFFFF;
    border-color: #E64A19;
    color: #E64A19;
}
.panel-primary-outline a {
    color: #FFFFFF;
}
.panel-primary-outline a:hover {
    color: #FFFFFF;
}
.panel-primary-outline a .panel-footer {
    background-color: #E64A19;
    border-top: 0px solid #E64A19;
}
.panel-primary-outline a .panel-footer:hover {
    background-color: #D84315;
}
