<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger" data-ng-show="error">There was a problem logging in. Please
                        try again.</div>
                    <div class="alert alert-danger" data-ng-show="(reason)">{{reason}}</div>
                    <form method="post" name="loginForm" ng-submit="auth(credentials)" novalidate role="form">
                        <div class="form-group" ng-if="!isAuthenticated">
                            <label for="username">Username:</label> <input class="form-control" id="username"
                                ng-model="credentials.username" type="text" />
                        </div>
                        <div class="form-group" ng-if="!isAuthenticated">
                            <label for="password">Password:</label> <input class="form-control" id="password"
                                ng-model="credentials.password" type="password" />
                        </div>
                        <div>
                            <p data-ng-show="isAuthenticated">You are already logged in.</p>
                            <p data-ng-show="isAuthenticated">If you have been redirected here from another section,
                                it is probable that you don't have enough permissions to view it, and you will need to
                                login as another user with higher permissions. Sorry about that :(.</p>
                            <button class="btn btn-primary" data-ng-show="!isAuthenticated" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <rd-widget> <rd-widget-header icon="fa-sign-in" title="Login"></rd-widget-header> <rd-widget-body>

                </rd-widget-body> </rd-widget>
            </div>
        </div>
    </div>
</div>